body{
  padding: 1.5rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #F6F6EF;
}

h1{
  background-color: #FF6600;
  padding: 0.3rem;
}

a{
  text-decoration: none;
}

a:hover{

}

.news-container{
  padding: 1rem;
}

.news-select{

}

.news-list{
  
}

.news-detail{
  padding: 1rem;
}


/* Small Screens */
@media only screen and (max-width: 600px) {

}