body{
  padding: 1.5rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #F6F6EF;
}

h1{
  background-color: #FF6600;
  padding: 0.3rem;
}

a{
  text-decoration: none;
}

a:hover{
  color:darkblue;
}

ul{
  list-style: none;
}

li:nth-child(1):hover{
  cursor: pointer;
  font-weight: bold;
}

.news-container{
  padding: 1rem;
}

.news-list{
  
}

.news-detail{
  padding: 1rem;
}

/* Modal */

.show-modal{
  display: block;
}
.hide-modal{
  display: none;
  visibility: hidden;
}

.modal {
  display: block;
  width: 80vw;
  /* max-width: 80vw%; */
  height: 70vh;
  /* max-height: 100%; */
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  border: 2px solid #73AD21;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000; 
  background: rgba(0, 0, 0, 0.6);
}

.modal .close-button {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}


/* Small Screens */
@media only screen and (max-width: 600px) {

}